<ul>
  <li><%= link_to 'New Subsector', new_subsector_path %></li>
</ul>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr class="table-header">
    <th>Subsector Name</th>
    <th>Planets</th>
  </tr>
  <% @subsectors.each do |subsector| %>
    <tr>
      <td>
        <%= link_to subsector.name, subsector_path(subsector) %>
      </td>
      <td>
        <%= subsector.planets.count %>
      </td>
    </tr>
  <% end %>
</table>
