<div class="row">
  <div class="col-sm-6">
    <p class="text-justify">
      I built this app to make getting the goods available at any supplier
      much faster, using the rules from Merchant Princes. Some of the tables
      in Traveller are fun to roll on, but the nested tables needed to find out
      what you could buy isn't much fun after the first time, and it can be hard to
      be certain you actually rolled everything correctly, and rerolling additional
      goods from a table you already rolled on because it came up again isn't nearly
      as fun as negotiating the price and getting paid.
    </p>

    <p class="text-justify">
      You can add all of the planets from a subsector, and then easily generate
      the goods for a random supplier on that planet and all the app needs to know
      is the moral flexibility of the supplier to randomly generate the goods
      available. Many of the Trade Codes won't actually affect what is available,
      but they can affect the prices, and I might use them in the future.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      To support this, I've built an importer that uses a variation of the UWP
      that does a decent job of importing a simple form of the UWP. It is probably
      more specific than it needs to be, but it makes it easier to include other
      data in the import, like notes, historical references, etc. These things
      shouldn't cause issues.
    </p>

    <p class="text-justify">
      The Exotics are the only section that I wasn't able to perfectly handle,
      because they work differently than all the rest of the goods. It will generate
      the kind of Exotic good, but it won't roll the exact number of items, so you
      will still need to reference the book for those if they come up. Each ton listed
      means one roll on the table, in the rare case that multiple exotic goods show up.
      According to the book they don't actually take up any tonnage.
    </p>
  </div>
</div>
