<h1 style="text-align:center;">Traveller Spec Trade Good generator!</h1>
<p>
  Now any trader can easily find the goods available for sale
  on any given planet without taking longer to run through the
  tables than it would take to actually find a seller in real time!
</p>
<p>
  Select the trade codes for the planet you found a supplier at,
  and whether they are "Morally Ambiguous", and then click submit!
</p>
<%= render partial: 'form' %>
<p>
  Coming soon(ish): The ability to upload a UMP file of a sector and
  generate the goods available on any planet at the click of a button!
</p>
