<h1 style="text-align:center;">Traveller Spec Trade goods generator!</h1>
<div class="row">
  <div class="col-sm-6">
    <p class="text-justify">
      Now any trader can easily find the goods available for sale
      on any given planet without taking longer to run through the
      tables than it would take to actually find a seller in real time!
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      Select the trade codes for the planet you found a supplier at,
      whether they are "Morally Ambiguous", and then click submit!
    </p>
  </div>
</div>
<%= render partial: 'form' %>
